sudo: true
dist: trusty
services:
  - docker
language: python
python:
  - '3.5'
before_install:
  - "pip install 'lander>=0.1.0,<0.2'"
script:
  # Compile PDF using containerized lsst-texmf
  - "docker run --rm -v `pwd`:/workspace -w /workspace lsstsqre/lsst-texmf:latest sh -c 'make'"
  # Deploy website. See https://github.com/lsst-sqre/lander for CLI options
  - "lander --pdf LDM-534*.pdf --upload --lsstdoc LDM-534.tex --env=travis --ltd-product ldm-534"
env:
  global:
    # Add LSST the Docs credentials
    - secure: "um56EqbBxQkgSPPjtOVwEMZlvFqsapBrs3WEV3aKref44m7vdHcQ/NsWxTYyjGaZYvT2lKS59RaduQajZF0hBTx7+qR6c6VbCZppqcmb57NS+yP5umZI/JaaJVbvFHfQawkFCakThkQgOW03G95T4skdrICUG9tZKzQuU5gAzoQsgSf/SEiS7Y4AobNVRXly7mL8yDiP+djCJizm3Nd8uuHDA6qiLjj/cRGUF/ZX9izl4LtzATyKSIoAUnID+PSSjhUzynhcKDSOVTMqFV2VYhBeeYeWdYg4AG+7nfVAiIDDDbnoRcra54o/z37dBxEcsSM6utz6+qKUQkn2JR0PRU79hxnYM/snydR1W/xitZJNvu4fsoKDfcKRpOeLCFM9iJklHcWMybeo+g1Ix4odLXzEcsZQTJ6zne5qrnMRITA7YywCBIos/RiCKW7Qx2W6TJ32CJptQe746aHzKFmMaEuLJRjTRmTZm4C1OKPGee1bi8LhVgo+QgGG7IXPBZblsis7xHgxkKTSsE//fnK0A5rjYe3ZhsB+vK7c1PhE+BwqyULn7se2QcaT95pD6ViS+tN0zxGJE+sVN1Cr7UZ11orenmTTQWgtPJmwwqtyll2FTcTyUstsTVvuhPXYAc1UJ8oXYM7+DUgpcsrl8g8VJVrcbt3AF47DRln40d3fk0M="
    - secure: "2n//Z+li46mJurvSxPqAdRPonYummN79Kg9p2KeN8RbaM6AVQUpfuLmDIFC6SSdgvK9nMoTM1UkeY1UiqZ4CMNout3BnzugfcnzkVRuFentIqebSP2098DOoLqJjlBOk2LQBFq82UiTIk0Wk0FYyS3s9hSykpv/5EUS41HM/ChDJI4SjpT6GCPpiZUiQab4DZFLBi8+VClvC1IYRaLARbX0N0nC4afF4pRdJiMmfd9VMev1KIVbQC2Gf8Ju32WLFQr/YvO67Hka11pOQGkg+m9Au62jqZxMaBYRhVTo8WbpyCGveHCC9DdUPo2ZhOk5ijO5DU7uzn6nvdXo863Esa8gHzjcAqClaDqNjdAmoIgni38tixloR7QapSo+9anXHSzyLqPuZKQgfKfsqOMEqxr22CG/rMDXWK+ArqAUprCqSiegUwb4GyZH2Ek8NvMjf05MvqG4Nxtjudg2NLYhE8ez34Ye4CiCPJwHQTY9/QVsmTSdgxgzzHLGjmUvgEbapV8pTKpo+UXAx6UuF0Nnw2CQ+y6xC/904YurfQ0pl3Ip6HfzpqgGAKW+N01loE5PQuakP5xeMiv4AkeMtNY540zxrB2H1IUm1Q5Dni4PaVFxBsXnTpppInS/y7ioi9fndaUfp84iyG1ogXpifuEdmvenSDA3hw7VoqGWh/coHNWg="
